<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootcamping.mapper.cart.CartMapper">
    <insert id="insertCart">
        insert into cart
        values (null , #{memberid}, #{menuid}, #{amount},now())
    </insert>

    <select id="selectCart" resultType="com.bootcamping.domain.VO.CartVO">
        select A.*, B.name, B.price,B.filename FROM cart AS A LEFT OUTER JOIN menu AS B ON A.menuid = B.mid where memberid = #{memberid};
    </select>


    <select id="purchaseCart" resultType="com.bootcamping.domain.DTO.CartDTO">
        select A.*, B.name, B.price,B.filename from cart AS A LEFT OUTER JOIN menu AS B ON A.menuid = B.mid where cartid = #{cartid}
    </select>

    <delete id="deleteCart">
        delete from cart where cartid = #{cartid}
    </delete>

</mapper>